---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <h1>projects:</h1>
    <ul>
        {% for projects in site.data.projects %}
        <li>
            <!-- TODO: add icons and descriptions -->

            <a href="{{ projects.url }}">{{ projects.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>


<div class="blog">
    <h1>blog:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
